---
---

@import "{{ site.theme }}";

h1 .title{color: #303030;}

body{color:black;}

a {color: blue;font-weight: bold;}

.code {background-color: #f2f2f2; color: #303030; padding: 0 3px;border: solid 1px #ddd;}