<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" type="text/css" href="{{ '/assets/css/print.css' | relative_url }}" media="print">

{% seo %}
  </head>

  <body>
    <div id="container">
      <div class="inner">
        {% include header.html %}
        
        <hr>
        
        <section id="main_content">
          {% include content.html %}
        </section>

        {% include footer.html %}
      </div>
    </div>
  </body>
</html>
